h1{color: blueviolet;}
        h2{color: brown;}
        h3{color:rgb(3, 57, 57);}
        h4{color: rgb(3, 57, 57);}
        h5{color: brown;}
        
    p{color:rgb(235, 33, 184) (83, 9, 21);}
    .intan{
        color: aqua;
    }